#editor {
	background-color: lightgray;
	height: 92.5vh;
	width: 100%;
	display: inline-flex;
}

#toolbar {
	width: 15%;
	border-bottom: solid black 1px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#personal_data_uses_info {
	display: none;
}

#graph_container {
	height: 100%;
	width: 70%;
	overflow: hidden;
}

#graph {
	height: 100%;
	background-color: white;
	border: solid black 1px;
}

#hierarchy {
	width: 15%;
	border-bottom: solid black 1px;
}

.list-group-item {
	padding-right: 0;
	padding-bottom: 0;
}

.diagram_active {
	background-color: #007bff;
	color: #343a40;
}

#item_configurations {
	display: none;
}

#data_association_menu {
	display: none;
}

.toolbar_item_container {
	display: inline-block;
	background-color: white;
	text-align: center;
	border: 1px solid #343a40;
	border-radius: 5px;
	margin: 0.5em;
}

.sparql_logo {
	width: 70%;
}

#query_btn {
	background-color: green;
	color: white;
}

#query_btn.active {
	color: #3c8011 !important;
	background-color: #95d28d !important;
}

#query_box {
	position: absolute;
	display: none;
	width: 20%;
	min-width: 200px;
	z-index: 1;
	max-height: 80vh;
	overflow: auto;
}

.hierarchy_item_title.selected {
	color: #45c421;
	font-style: italic;
	font-weight: bold;
}

#query_result {
	display: none;
}